<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Minimal Azure-compatible Web.config -->
    
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" />
    </system.web>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
