<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" />
        
        <!-- Required for ASP.NET WebForms controls -->
        <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
        
        <!-- Authentication and authorization -->
        <authentication mode="None" />
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        
        <!-- Validation settings -->
        <validation validateIntegratedModeConfiguration="false" />
        
        <!-- Handler mappings for .NET Framework 4.8 -->
        <handlers>
            <add name="aspNetHandler" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode" />
        </handlers>
    </system.webServer>

</configuration>
